html {
background-color:#FFEF00;
}

header { 
display:block;
font-family: 'Kelly Slab', cursive;
text-align:center;
}

img {
border:3px solid black;
padding:10px 10px; 
background:#dddddd;
width:100px;
border-radius:10px;
}

p {
font-family: 'Oleo Script Swash Caps', cursive;
text-align:center;
}
